

.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.table{
    margin-top: 30px;
}
.boldtext{
    background: cornflowerblue;
    font-size: 15px;
    font-style: italic;
}