.mainContent{
    margin-top: 1000px;    
}

.top-bottom-content{
    text-align: center;
}

.survey-list-heading{
	text-align: center;
}

.content{
    margin:20px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

 input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}