<!DOCTYPE html>
<html ng-app='surveyApp'>

<head>
    <meta charset="utf-8" />
    <title>Survey Application</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/new.css">
    <script rel="text/javascript" src="../js/angular.js"></script>
    <script rel="text/javascript" src="../js/angular.min.js"></script>
    <script rel="text/javascript" src="../js/controllers/surveyController.js"></script>


</head>

<body ng-controller='surveyCtrl'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="survey-list-heading">Survey List</h1>
            </div>
        </div>
    </div>

    <button ng-click="getAllSurveys()">Get ALL</button>
    <div class="container">

        <div class="col-md-3"></div>


        <div class="col-md-6">
            <div ng-repeat="survey in allSurveys">
                <br>
                <div class="row">
                    <div class="col-md-5">Survey Title :</div>
                    <div class="col-md-5">{{survey.title}}</div>
                    <div class="col-md-2"><span class="glyphicon glyphicon-edit"></span></div>
                </div>

                <div class="row">
                    <div class="col-md-5">Category :</div>
                    <div class="col-md-5">{{survey.category}}</div>
                    <div class="col-md-2"><span class="glyphicon glyphicon-remove-circle"></span></div>
                </div>

                <div class="row">
                    <div class="col-md-6">Creation Date :</div>
                    <div class="col-md-6">{{survey.creationDate | date : 'shortDate'}}</div>
                </div>

                <div class="row">
                    <div class="col-md-6">Published :</div>
                    <div class="col-md-6">{{survey.isPublished}}</div>
                </div>
            </div>
        </div>

        <div class="col-md-3"></div>

    </div>
</body>

</html>